<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="TortoiseGit" />
    <package id="tortoisesvn" />
    <package id="svn" />
    <package id="GoogleChrome" />
    <package id="thunderbird" />
    <package id="winscp" />
    <package id="jdk8" />
    <package id="vcredist2013" />
    <package id="directx" />
    <package id="ccleaner" />
    <package id="adobereader" />
    <package id="cygwin" />
    <package id="ruby" />
    <package id="python" />
    <package id="cygwin" />
    <package id="putty" />
    <package id="SourceTree" />
    <package id="virtualbox" />
    <package id="vagrant" />
    <package id="genymotion" />
    <package id="dropbox" />
    <package id="fiddler" />
    <package id="sandboxie" />
    <package id="truecrypt" />
    <package id="android-sdk" />
    <package id="skitch" />
    <package id="Atom" />
</packages>
