<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- SDK, Runtime -->
    <package id="dotnet3.5" />
    <package id="dotnet4.0" />
    <package id="dotnet4.5" />
    <package id="vcredist2013" />
    <package id="directx" />
    <package id="jdk8" />
    <package id="ruby" />
    <package id="python" />
    <!-- Development tool -->
    <package id="git" />
    <package id="TortoiseGit" />
    <package id="SourceTree" />
    <package id="svn" />
    <package id="tortoisesvn" />
    <package id="cygwin" />
    <package id="putty" />
    <package id="winscp" />
    <package id="virtualbox" />
    <package id="vagrant" />
    <package id="genymotion" />
    <package id="android-sdk" />
    <package id="fiddler4" />
    <!-- Tool -->
    <package id="GoogleChrome" />
    <package id="thunderbird" />
    <package id="ccleaner" />
    <package id="adobereader" />
    <package id="dropbox" />
    <package id="sandboxie" />
    <package id="truecrypt" />
    <package id="skitch" />
    <package id="Atom" />
    <package id="itunes" />
    <package id="lockhunter" />
    <package id="defraggler" />
    <package id="crystaldiskmark" />
</packages>
